body{
    background-color: hsl(204, 35%, 22%);
    color: hsl(204, 35%, 70%);
}

*{
    overflow: hidden;
}

h1{
    text-align: center;
}

#contents {
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    justify-content: center;
 }

.subcontainer {
   min-width: 0;
   margin: 0 3px 10px 3px;
   display: inline;
   flex-basis: 100%;
   position: relative;
   height: 50vh;
   text-align: center;
   border-radius: 5px;
   border-width: 5px;
   border-style: solid;
}

p{
    font-size: 20px;
}
  
.checkbox{
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-radius: 2vw;
    width: 2vw;
    height: 2vw;
    border-color: rgba(0, 0, 0, 0);
    outline: none;
    background-color: white;
}

.checkbox:hover{
    background-color:hsl(205, 57%, 9%);
}

.checkmark{
    border: solid white;
    border-radius: 1vw;
    display: flex;
}


@media only screen and (max-width: 600px){
    #contents {
       display: flex;
       flex-direction: column;
       flex-wrap: no-wrap;
       justify-content: center;
    }

    .subcontainer {
      min-width: 0;
      margin: 0 3px 10px 3px;
      display: inline;
      flex-basis: 100%;
      position: relative;
      height: 50vh;
      text-align: center;
      border-radius: 5px;
      border-width: 5px;
      border-style: solid;
    }

    p{
        font-size: 10px;
    }
}