body{
    background-color: hsl(204, 35%, 22%);
    color: hsl(204, 35%, 70%);
}

*{
    overflow: hidden;
}

h1{
    text-align: center;
}

#contents {
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    justify-content: center;
 }

 .subcontainer {
   min-width: 0;
   margin: 0 3px 10px 3px;
   display: inline;
   flex-basis: 100%;
   position: relative;
   height: 50vh;
   text-align: center;
   border-radius: 5px;
   border-width: 5px;
   border-style: solid;
 }

@media only screen and (max-width: 600px){
    #contents {
       display: flex;
       flex-direction: column;
       flex-wrap: no-wrap;
       justify-content: center;
    }

    .subcontainer {
      min-width: 0;
      margin: 0 3px 10px 3px;
      display: inline;
      flex-basis: 100%;
      position: relative;
      height: 50vh;
      text-align: center;
      border-radius: 5px;
      border-width: 5px;
      border-style: solid;
    }
}